<svg version="1.1" [attr.viewBox]="viewBox">


<!-- Bars -->
<rect *ngFor="let bar of bars"
    (click)="log(bar)"
    [ngClass]="bar.clases"
    [attr.x]="bar.x" [attr.y]="bar.y"
    [attr.width]="bar.width" [attr.height]="bar.height" />


<!-- Axis -->
<line
    class="axis"
    [attr.stroke-width]="axisw"
    [attr.x1]="verticalAxis.x1" [attr.x2]="verticalAxis.x2" [attr.y1]="verticalAxis.y1" [attr.y2]="verticalAxis.y2" />

<line
    class="axis"
    [attr.stroke-width]="axisw"
    [attr.x1]="horizontalAxis.x1" [attr.x2]="horizontalAxis.x2" [attr.y1]="horizontalAxis.y1" [attr.y2]="horizontalAxis.y2" />



</svg>


